**This notebook is an exercise in the [Pandas](https://www.kaggle.com/learn/pandas) course.  You can reference the tutorial at [this link](https://www.kaggle.com/residentmario/data-types-and-missing-values).**

---

# Introduction

Run the following cell to load your data and some utility functions.

In [1]:
import pandas as pd

reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)

from learntools.core import binder; binder.bind(globals())
from learntools.pandas.data_types_and_missing_data import *
print("Setup complete.")

Setup complete.

# Exercises

## 1. 
What is the data type of the `points` column in the dataset?

In [2]:
# /kaggle/input/wine-reviews/winemag-data-130k-v2.csv
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 13.9+ MB

In [3]:
# Your code here
# What is the data type of the points column in the dataset?
dtype = reviews['points'].dtype

# Check your answer
q1.check()

Correct

In [ ]:
#q1.hint()
#q1.solution()

## 2. 
Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [4]:
point_strings = reviews['points'].astype('str')

# Check your answer
q2.check()

Correct

In [ ]:
#q2.hint()
#q2.solution()

## 3.
Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [11]:
# Sometimes the price column is null. How many reviews in the dataset are missing a price?
print("reviews['price'].isna().sum(): ", reviews['price'].isna().sum(),
      "reviews['price'].count() ", reviews['price'].count())

reviews['price'].isna().sum():  8996 reviews['price'].count()  120975

In [6]:
n_missing_prices = reviews['price'].isna().sum()
print('no mising prices: ' ,n_missing_prices)
# Check your answer
q3.check()

no mising prices:  8996

Correct

In [12]:
reviews40=reviews.head(40)
print('reviews40.shape:', reviews40.shape)
reviews40.info()

reviews40.shape; (40, 13)
<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 0 to 39
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                40 non-null     object
 1   description            40 non-null     object
 2   designation            30 non-null     object
 3   points                 40 non-null     int64
 4   price                  35 non-null     float64
 5   province               40 non-null     object
 6   region_1               36 non-null     object
 7   region_2               12 non-null     object
 8   taster_name            33 non-null     object
 9   taster_twitter_handle  28 non-null     object
 10  title                  40 non-null     object
 11  variety                40 non-null     object
 12  winery                 40 non-null     object
dtypes: float64(1), int64(1), object(11)
memory usage: 4.4+ KB

In [6]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### a) Überprüfen Sie, ob alle Elemente in einer Zeile und Spalte Werte fehlen
From: https://pythonseminar.de/pandas-fehlende-werte-nan-erkennen-und-zahlen-mit-isnull-isna/
all() gibt True zurück, wenn alle Elemente in jeder Zeile und Spalte True sind.

Indem Sie all() aus dem Ergebnis von isnull() aufrufen, können Sie prüfen, ob alle Elemente in jeder Zeile und Spalte Werte fehlen.

Standardmäßig wird es auf Spalten angewendet. Wenn das Argument Achse = 1 ist, WIRD es auf Zeilen angewendet.  

### b) Überprüfen Sie, ob eine Zeile und Spalte mindestens einen fehlenden Wert enthält
any() gibt True zurück, wenn es in jeder Zeile und Spalte mindestens ein True gibt.

Indem SIE any() aus dem Ergebnis von isnull() aufrufen, can SIE überprüfen, ob jede Zeile und Spalte mindestens einen fehlenden Wert enthält.

Standardmäßig wird es auf Spalten angewendet. Wenn das Argument Achse = 1 ist, WIRD es auf Zeilen angewendet.
### c) Zählen Sie fehlende Werte in jeder Zeile und Spalte
sum() berechnet die Summe der Elemente für jede Zeile und Spalte.

Sie können fehlende Werte standardmäßig in jeder Spalte und in jeder Zeile mit Achse=1 umfassen.

### d) Zählen Sie nicht fehlende Werte in jeder Zeile und Spalte
count() zählt die Anzahl der nicht fehlenden Werte (= vorhandene Werte) in jeder Zeile und Spalte.

Rufen Sie es direkt aus dem ursprünglichen pandas.DataFrame auf, nicht aus dem Ergebnis von isnull().

Sie können standardmäßig keine fehlenden Werte in jeder Spalte und in jeder Zeile mit Achse=1 umfassen

In [4]:
# print(reviews40.isnull().all())
print('a) Anzahl von überall NULL: ', reviews40.isnull().all().sum())
print('b) mind 1 fehlender Wert \n', reviews40.isnull().any(), sep='')
print('c) Fehlende Werte\n', reviews40.isnull().sum(), sep='')

a) Anzahl von überall NULL:  0
b) mind 1 fehlender Wert
country                  False
description              False
designation               True
points                   False
price                     True
province                 False
region_1                  True
region_2                  True
taster_name               True
taster_twitter_handle     True
title                    False
variety                  False
winery                   False
dtype: bool
c) Fehlende Werte
country                   0
description               0
designation              10
points                    0
price                     5
province                  0
region_1                  4
region_2                 28
taster_name               7
taster_twitter_handle    12
title                     0
variety                   0
winery                    0
dtype: int64

### Zählen Sie nicht fehlende Werte in jeder Zeile und Spalte
count() zählt die Anzahl der nicht fehlenden Werte (= vorhandene Werte) in jeder Zeile und Spalte.

Rufen Sie es direkt aus dem ursprünglichen pandas.DataFrame auf, nicht aus dem Ergebnis von isnull().

Sie können standardmäßig keine fehlenden Werte in jeder Spalte und in jeder Zeile mit Axis=1 umfassen.  
 https://pythonseminar.de/pandas-fehlende-werte-nan-erkennen-und-zahlen-mit-isnull-isna/

**Im gesamten DataFrame:** Verwenden Sie df.isnull().sum().sum() oder df.isna().sum().sum().  (Google-KI)

In [23]:
null_werte_pro_spalte[null_werte_pro_spalte > 0].index.tolist()

['designation',
 'price',
 'region_1',
 'region_2',
 'taster_name',
 'taster_twitter_handle']

In [28]:
# Beispiel: Anzahl der fehlenden Werte pro Spalte
null_werte_pro_spalte = reviews40.isnull().sum()
print('null_werte_pro_spalte: \n', null_werte_pro_spalte, sep='')

# 2. Filtern der Series, sodass nur Werte > 0 angezeigt werden
spalten_mit_nulls = null_werte_pro_spalte[null_werte_pro_spalte > 0]

print("Spalten mit mindestens einem NULL-Wert:")
print(spalten_mit_nulls)

# Alternativer Ansatz: Nur die Spaltennamen erhalten
spalten_namen_mit_nulls = null_werte_pro_spalte[null_werte_pro_spalte > 0].index.tolist()
print("\nListe der Spaltennamen mit NULL-Werten:")

print(spalten_namen_mit_nulls)



# Beispiel: Gesamtanzahl der fehlenden Werte
gesamt_null_werte = reviews40.isnull().sum().sum()
print('gesamt_null_werte ( Type', type(gesamt_null_werte),') ',  gesamt_null_werte)

reviews40.count()
reviews40.count(axis=1)
print('Fehlende Werte gesamt: ', reviews40.isnull().values.sum(), ' Vorhandene: ', reviews40.count().sum())

null_werte_pro_spalte:
country                   0
description               0
designation              10
points                    0
price                     5
province                  0
region_1                  4
region_2                 28
taster_name               7
taster_twitter_handle    12
title                     0
variety                   0
winery                    0
dtype: int64
Spalten mit mindestens einem NULL-Wert:
designation              10
price                     5
region_1                  4
region_2                 28
taster_name               7
taster_twitter_handle    12
dtype: int64

Liste der Spaltennamen mit NULL-Werten:
['designation', 'price', 'region_1', 'region_2', 'taster_name', 'taster_twitter_handle']
gesamt_null_werte ( Type <class 'numpy.int64'> )  66

country                  40
description              40
designation              30
points                   40
price                    35
province                 40
region_1                 36
region_2                 12
taster_name              33
taster_twitter_handle    28
title                    40
variety                  40
winery                   40
dtype: int64

0     11
1     11
2     12
3     11
4     13
5     12
6     12
7     11
8     10
9     12
10    13
11    11
12    12
13    11
14    12
15    10
16    12
17    12
18    12
19    10
20    11
21    12
22    12
23    13
24    12
25    13
26    12
27    11
28    12
29    12
30    11
31     9
32     9
33    11
34    10
35    13
36    11
37    10
38    10
39    10
dtype: int64

Fehlende Werte gesamt:  66  Vorhandene:  454

In [ ]:
#q3.hint()
#q3.solution()

## 4.
What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

In [16]:
reviews.region_1.isna().sum() ## 21247
# reviews.region_1.fillna('Unknown')
reviews.region_2.isna().sum() ## 79460
# reviews.region_2.fillna("Unknown", inplace = True)
'''
/tmp/ipykernel_37/115383614.py:4: 
FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. 
This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', 
try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, 
to perform the operation inplace on the original object.
'''

reviews.region_2.isna().sum() ## 79460

reviews.region_1.fillna('Unknown').value_counts().sort_values(ascending=False)

region_1
Unknown                 21247
Napa Valley              4480
Columbia Valley (WA)     4124
Russian River Valley     3091
California               2629
                        ...
Offida Rosso                1
Corton Perrières            1
Isle St. George             1
Geelong                     1
Paestum                     1
Name: count, Length: 1230, dtype: int64

In [21]:
reviews.region_1.fillna('Unknown').value_counts()
# reviews.region_1.fillna('Unknown').groupby('region_1')

region_1
Unknown                    21247
Napa Valley                 4480
Columbia Valley (WA)        4124
Russian River Valley        3091
California                  2629
                           ...
Lamezia                        1
Trentino Superiore             1
Grave del Friuli               1
Vin Santo di Carmignano        1
Paestum                        1
Name: count, Length: 1230, dtype: int64

In [18]:
# this does not work
# reviews.region_1.fillna('Unknown').groupby('region_1').size().sort_values(ascending=False)

In [22]:
reviews_per_region = reviews.region_1.fillna('Unknown').value_counts()
# Correct laut Hint:
# reviews_per_region = reviews.region_1.fillna('Unknown').value_counts().sort_values(ascending=False)
# aber: value_counts() sortiert automatisch descending
# Check your answer
q4.check()

Correct

In [13]:
q4.hint()

q4.solution()

Hint: Use `fillna()`, `value_counts()`, and `sort_values()`.

Solution:
```python
reviews_per_region = reviews.region_1.fillna('Unknown').value_counts().sort_values(ascending=False)
```

# Keep going

Move on to **[renaming and combining](https://www.kaggle.com/residentmario/renaming-and-combining)**.

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/pandas/discussion) to chat with other learners.*