**This notebook is an exercise in the [Pandas](https://www.kaggle.com/learn/pandas) course.  You can reference the tutorial at [this link](https://www.kaggle.com/residentmario/grouping-and-sorting).**

---

# Introduction

In these exercises we'll apply groupwise analysis to our dataset.

Run the code cell below to load the data before running the exercises.

In [1]:
import warnings

warnings.filterwarnings("ignore", category=DeprecationWarning)

In [8]:
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
# import glob 
from pathlib import Path
policefiles = list(Path('/kaggle/input').rglob('*olice*.*'))
print(policefiles)
for dirname, _, filenames in os.walk('/kaggle/input_not_found'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

[]

In [9]:
import os

# Rekursiv nach allen .py-Dateien suchen
py_dateien = []
for root,dirs,files in os.walk('/pfad/zum/verzeichnis'):
    for file in files:
        if file.endswith('.py'):
            py_dateien.append(os.path.join(root, file))

print(py_dateien)

[]

In [1]:
import pandas as pd

reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
#pd.set_option("display.max_rows", 5)

from learntools.core import binder; binder.bind(globals())
from learntools.pandas.grouping_and_sorting import *
print("Setup complete.")

Setup complete.

/usr/local/lib/python3.11/dist-packages/learntools/pandas/grouping_and_sorting.py:29: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  _expected = reviews.groupby('variety').price.agg([min, max])
/usr/local/lib/python3.11/dist-packages/learntools/pandas/grouping_and_sorting.py:29: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  _expected = reviews.groupby('variety').price.agg([min, max])
/usr/local/lib/python3.11/dist-packages/learntools/pandas/grouping_and_sorting.py:35: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  _expected = reviews.groupby('variety').price.agg([min, max]).sort_values(by=['min', 'max'], ascending=False)
/usr/local/lib/python3.11/dist-packages/learntools/pandas/grouping_and_sorting.py:35: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  _expected = reviews.groupby('variety').price.agg([min, max]).sort_values(by=['min', 'max'], ascending=False)

# Exercises

## 1.
Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [3]:
type(reviews.groupby('points').price.min())

pandas.core.series.Series

In [19]:
print(type(reviews.info()))
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 13.9+ MB
<class 'NoneType'>
<class 'pandas.core.frame.DataFrame'>
Index: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 13.9+ MB

Diese Methode liefert das gleiche sortierte Ergebnis wie die groupby().size().sort_values(ascending=False)-Kombination.

In [2]:
reviews.groupby('taster_twitter_handle').size().sort_values(ascending=False)

taster_twitter_handle
@vossroger          25514
@wineschach         15134
@kerinokeefe        10776
@vboone              9537
@paulgwine           9532
@mattkettmann        6332
@JoeCz               5147
@wawinereport        4966
@gordone_cellars     4177
@AnneInVino          3685
@laurbuzz            1835
@suskostrzewa        1085
@worldwineguys       1005
@bkfiona               27
@winewchristina         6
dtype: int64

In [20]:
reviews['taster_twitter_handle'].value_counts()

taster_twitter_handle
@vossroger          25514
@wineschach         15134
@kerinokeefe        10776
@vboone              9537
@paulgwine           9532
@mattkettmann        6332
@JoeCz               5147
@wawinereport        4966
@gordone_cellars     4177
@AnneInVino          3685
@laurbuzz            1835
@suskostrzewa        1085
@worldwineguys       1005
@bkfiona               27
@winewchristina         6
Name: count, dtype: int64

In [3]:
# my try reviews.groupby('taster_twitter_handle').count()
# Solution: 

# reviews_written = 
print("reviews.groupby('taster_twitter_handle').size() \n", reviews.groupby('taster_twitter_handle').size())
# reviews_written = 
reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()

reviews.groupby('taster_twitter_handle').size()
 taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
dtype: int64

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: taster_twitter_handle, dtype: int64

In [4]:
# Your code here
reviews_written = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()

# Check your answer
q1.check()

Correct:


```python
reviews_written = reviews.groupby('taster_twitter_handle').size()
```
or
```python
reviews_written = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()
```

In [6]:
q1.hint()
q1.solution()

Hint: Use the `groupby` operation and `size()` (or `count()`).

Solution:
```python
reviews_written = reviews.groupby('taster_twitter_handle').size()
```
or
```python
reviews_written = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()
```

## 2.
What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [5]:
reviews.groupby(['price']).apply(lambda df: df.loc[df.points.idxmax()])

/tmp/ipykernel_37/649646049.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  reviews.groupby(['price']).apply(lambda df: df.loc[df.points.idxmax()])

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
price,,,,,,,,,,,,,
4.0,US,"There's a lot going on in this Merlot, which i...",NaN,86,4.0,California,California,California Other,NaN,NaN,Bandit NV Merlot (California),Merlot,Bandit
5.0,Chile,More than decent; this is good SB with no bell...,Reserva,87,5.0,Aconcagua Valley,NaN,NaN,Michael Schachner,@wineschach,In Situ 2008 Reserva Sauvignon Blanc (Aconcagu...,Sauvignon Blanc,In Situ
6.0,US,"Off-dry fruit conjures up flavors of grapes, a...",NaN,88,6.0,Idaho,Idaho,NaN,Paul Gregutt,@paulgwine,Ste. Chapelle 2001 Johannisberg Riesling (Idaho),Johannisberg Riesling,Ste. Chapelle
7.0,Portugal,"Richly tannic, this concentrated wine has grea...",Toutalga,91,7.0,Alentejano,NaN,NaN,Roger Voss,@vossroger,Herdade dos Machados 2012 Toutalga Red (Alente...,Portuguese Red,Herdade dos Machados
8.0,US,"With full ripeness, density and concentration,...",Winemaker's Select,91,8.0,Washington,Columbia Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Snoqualmie 2006 Winemaker's Select Riesling (C...,Riesling,Snoqualmie
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900.0,France,"A massive wine for Margaux, packed with tannin...",NaN,98,1900.0,Bordeaux,Margaux,NaN,Roger Voss,@vossroger,Château Margaux 2009 Margaux,Bordeaux-style Red Blend,Château Margaux
2000.0,France,This extravagantly perfumed wine has great jui...,NaN,97,2000.0,Bordeaux,Pomerol,NaN,Roger Voss,@vossroger,Château Pétrus 2011 Pomerol,Bordeaux-style Red Blend,Château Pétrus
2013.0,US,The nose on this single-vineyard wine from a s...,Roger Rose Vineyard,91,2013.0,California,Arroyo Seco,Central Coast,Matt Kettmann,@mattkettmann,Blair 2013 Roger Rose Vineyard Chardonnay (Arr...,Chardonnay,Blair
2500.0,France,The wine is a velvet glove in an iron fist. Th...,NaN,96,2500.0,Bordeaux,Pomerol,NaN,Roger Voss,@vossroger,Château Pétrus 2014 Pomerol,Bordeaux-style Red Blend,Château Pétrus
3300.0,France,This ripe wine shows plenty of blackberry frui...,NaN,88,3300.0,Bordeaux,Médoc,NaN,Roger Voss,@vossroger,Château les Ormes Sorbet 2013 Médoc,Bordeaux-style Red Blend,Château les Ormes Sorbet

In [14]:
reviews.groupby('price').apply(lambda df: df.title.iloc[0])

/tmp/ipykernel_37/3780792809.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  reviews.groupby('price').apply(lambda df: df.title.iloc[0])

price
4.0       Felix Solis 2013 Flirty Bird Syrah (Vino de la...
5.0       Herdade dos Machados 2009 Morgado da Canita Re...
6.0       Adega Cooperativa de Borba 2016 Brado Branco W...
7.0                   Cramele Recas 2009 Chardonnay (Recas)
8.0       Casca Wines 2015 Bote Chardonnay-Fernão Pires-...
                                ...
1900.0                        Château Margaux 2009  Margaux
2000.0                         Château Pétrus 2011  Pomerol
2013.0    Blair 2013 Roger Rose Vineyard Chardonnay (Arr...
2500.0                         Château Pétrus 2014  Pomerol
3300.0                 Château les Ormes Sorbet 2013  Médoc
Length: 390, dtype: object

/tmp/ipykernel_37/649646049.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  reviews.groupby(['price']).apply(lambda df: df.loc[df.points.idxmax()])

In [6]:
# see https://stackoverflow.com/questions/77969964/deprecation-warning-with-groupby-apply
reviews.groupby('price').apply(lambda df: df.title.iloc[0], include_groups = False)

price
4.0       Felix Solis 2013 Flirty Bird Syrah (Vino de la...
5.0       Herdade dos Machados 2009 Morgado da Canita Re...
6.0       Adega Cooperativa de Borba 2016 Brado Branco W...
7.0                   Cramele Recas 2009 Chardonnay (Recas)
8.0       Casca Wines 2015 Bote Chardonnay-Fernão Pires-...
                                ...
1900.0                        Château Margaux 2009  Margaux
2000.0                         Château Pétrus 2011  Pomerol
2013.0    Blair 2013 Roger Rose Vineyard Chardonnay (Arr...
2500.0                         Château Pétrus 2014  Pomerol
3300.0                 Château les Ormes Sorbet 2013  Médoc
Length: 390, dtype: object

In [13]:
# see https://stackoverflow.com/questions/77969964/deprecation-warning-with-groupby-apply Solution#2
reviews.groupby('price')[['price','title']].apply(lambda df: df.title.iloc[0])

price
4.0       Felix Solis 2013 Flirty Bird Syrah (Vino de la...
5.0       Herdade dos Machados 2009 Morgado da Canita Re...
6.0       Adega Cooperativa de Borba 2016 Brado Branco W...
7.0                   Cramele Recas 2009 Chardonnay (Recas)
8.0       Casca Wines 2015 Bote Chardonnay-Fernão Pires-...
                                ...
1900.0                        Château Margaux 2009  Margaux
2000.0                         Château Pétrus 2011  Pomerol
2013.0    Blair 2013 Roger Rose Vineyard Chardonnay (Arr...
2500.0                         Château Pétrus 2014  Pomerol
3300.0                 Château les Ormes Sorbet 2013  Médoc
Length: 390, dtype: object

In [ ]:
import warnings

warnings.filterwarnings("ignore", category=DeprecationWarning)

In [7]:
# reviews.groupby(['price']).apply(lambda df: df.loc[df.points.idxmax()])
# best_rating_per_price = 
reviews.groupby('price')['points'].max().sort_index()

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [8]:
best_rating_per_price = reviews.groupby('price')['points'].max().sort_index()

# Check your answer
q2.check()

Correct

In [12]:
q2.hint()
q2.solution()

Hint: Use `max()` and `sort_index()`.  The relevant columns in the DataFrame are `price` and `points`.

Solution:
```python
best_rating_per_price = reviews.groupby('price')['points'].max().sort_index()
```

## 3.
What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

/tmp/ipykernel_37/1826950803.py:1: FutureWarning: <br>The provided callable <built-in function min> is currently using SeriesGroupBy.min. <br>In a future version of pandas, the provided callable will be used directly. <br>To keep current behavior pass the string "min" instead.
  reviews.groupby(['variety']).price.agg([len, min, 'max'])

In [23]:
reviews.groupby(['variety']).price.agg([len, 'min', 'max'])

              len   min    max
variety
Abouriou        3  15.0   75.0
Agiorgitiko    63  10.0   66.0
Aglianico     359   6.0  180.0
Aidani          1  27.0   27.0
Airen           3   8.0   10.0
...           ...   ...    ...
Zinfandel    2714   5.0  100.0
Zlahtina        2  13.0   16.0
Zweigelt      209   9.0   70.0
Çalkarası       2  19.0   19.0
Žilavka         1  15.0   15.0

[707 rows x 3 columns]

In [13]:
# From https://stackoverflow.com/questions/12589481/multiple-aggregations-of-the-same-column-using-pandas-groupby-agg
# df.groupby('kind').agg(
#     max_height=('height', 'max'), min_weight=('weight', 'min'),)

reviews.groupby('variety').agg(
    Min_price=('price','min'), Max_price =('price', 'max')
)
reviews.groupby('variety').agg(
    Min_price =pd.NamedAgg(column='price', aggfunc='min'),
    Max_price =pd.NamedAgg(column='price', aggfunc='max')
)

             Min_price  Max_price
variety
Abouriou          15.0       75.0
Agiorgitiko       10.0       66.0
Aglianico          6.0      180.0
Aidani            27.0       27.0
Airen              8.0       10.0
...                ...        ...
Zinfandel          5.0      100.0
Zlahtina          13.0       16.0
Zweigelt           9.0       70.0
Çalkarası         19.0       19.0
Žilavka           15.0       15.0

[707 rows x 2 columns]

In [18]:
# dito from https://stackoverflow.com/questions/12589481/multiple-aggregations-of-the-same-column-using-pandas-groupby-agg
# df.groupby('dummy').agg(Mean=('returns', 'mean'), Sum=('returns', 'sum'))
reviews.groupby(['variety']).agg(Mean =('price', 'min'), Max=('price', 'max'))

             Mean    Max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

In [15]:
price_extremes = reviews.groupby(['variety']).price.agg(['min', 'max'])

# Check your answer
q3.check()

Correct

In [26]:
#q3.hint()
q3.solution()

Solution:
```python
price_extremes = reviews.groupby('variety').price.agg([min, max])
```

## 4.
What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [ ]:
# quote from tut
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

In [16]:
price_extremes.head()

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0

What are the minimum and maximum prices for each variety of wine?   
Create a DataFrame whose index is the variety category from the dataset and whose values are the min and max values thereof.

In [27]:
price_extremes.sort_values(by=['min','max'])

## sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending=False)

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

                                min    max
variety
Pinot Grigio                    4.0   70.0
Malbec-Syrah                    4.0   78.0
White Blend                     4.0  375.0
Tempranillo                     4.0  600.0
Cabernet Sauvignon              4.0  625.0
...                             ...    ...
Roscetto                        NaN    NaN
Sauvignon Blanc-Sauvignon Gris  NaN    NaN
Tempranillo-Malbec              NaN    NaN
Vital                           NaN    NaN
Zelen                           NaN    NaN

[707 rows x 2 columns]

In [22]:
sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending=False)

# Check your answer
q4.check()

Correct

In [20]:
q4.hint()
q4.solution()

Hint: Use `sort_values()`, and provide a list of names to sort by.

Solution:
```python
sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending=False)
```

## 5.
Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [25]:
reviews.groupby(['taster_name']).agg(Mean=('points', 'mean'))
# reviews.groupby(['variety']).agg(Mean =('price', 'min'), Max=('price', 'max'))

                         Mean
taster_name
Alexander Peartree  85.855422
Anna Lee C. Iijima  88.415629
Anne Krebiehl MW    90.562551
Carrie Dykes        86.395683
Christina Pickard   87.833333
Fiona Adams         86.888889
Jeff Jenssen        88.319756
Jim Gordon          88.626287
Joe Czerwinski      88.536235
Kerin O’Keefe       88.867947
Lauren Buzzeo       87.739510
Matt Kettmann       90.008686
Michael Schachner   86.907493
Mike DeSimone       89.101167
Paul Gregutt        89.082564
Roger Voss          88.708003
Sean P. Sullivan    88.755739
Susan Kostrzewa     86.609217
Virginie Boone      89.213379

In [27]:
reviews.groupby(['taster_name']).points.agg(['mean', 'min', 'max'])

                         mean  min  max
taster_name
Alexander Peartree  85.855422   80   91
Anna Lee C. Iijima  88.415629   80   98
Anne Krebiehl MW    90.562551   80   97
Carrie Dykes        86.395683   81   92
Christina Pickard   87.833333   82   93
Fiona Adams         86.888889   82   91
Jeff Jenssen        88.319756   82   97
Jim Gordon          88.626287   80   97
Joe Czerwinski      88.536235   80  100
Kerin O’Keefe       88.867947   80  100
Lauren Buzzeo       87.739510   81   95
Matt Kettmann       90.008686   81   97
Michael Schachner   86.907493   80   98
Mike DeSimone       89.101167   82   94
Paul Gregutt        89.082564   80  100
Roger Voss          88.708003   80  100
Sean P. Sullivan    88.755739   80   97
Susan Kostrzewa     86.609217   80   94
Virginie Boone      89.213379   80   99

In [31]:
# reviewer_mean_ratings = reviews.groupby(['taster_name']).points.agg(['mean'])
reviewer_mean_ratings = reviews.groupby(['taster_name']).points.mean()
# Check your answer
q5.check()

Correct

In [30]:
q5.hint()
q5.solution()

Hint: Use `mean()`.

Solution:
```python
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean()
```

Are there significant differences in the average scores assigned by the various reviewers? Run the cell below to use the `describe()` method to see a summary of the range of values.

In [32]:
reviewer_mean_ratings.describe()

count    19.000000
mean     88.233026
std       1.243610
min      85.855422
25%      87.323501
50%      88.536235
75%      88.975256
max      90.562551
Name: points, dtype: float64

## 6.
What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [36]:
reviews.groupby(['country', 'variety']).size().sort_values(ascending=False)

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
                                     ...
Mexico   Cinsault                       1
         Grenache                       1
         Merlot                         1
         Rosado                         1
Uruguay  White Blend                    1
Length: 1612, dtype: int64

In [37]:
country_variety_counts = reviews.groupby(['country', 'variety']).size().sort_values(ascending=False)

# Check your answer
q6.check()

Correct

In [33]:

q6.hint()
#q6.solution()

Hint: Use `groupby()`, and provide a list of columns to group by.  You may also find `size()` and `sort_values()` to be useful!

# Keep going

Move on to the [**data types and missing data**](https://www.kaggle.com/residentmario/data-types-and-missing-values).

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/pandas/discussion) to chat with other learners.*