**This notebook is an exercise in the [Pandas](https://www.kaggle.com/learn/pandas) course.  You can reference the tutorial at [this link](https://www.kaggle.com/residentmario/grouping-and-sorting).**

---

# Introduction

In these exercises we'll apply groupwise analysis to our dataset.

Run the code cell below to load the data before running the exercises.

In [ ]:
import warnings

warnings.filterwarnings("ignore", category=DeprecationWarning)

In [ ]:
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
# import glob 
from pathlib import Path
policefiles = list(Path('/kaggle/input').rglob('*olice*.*'))
print(policefiles)
for dirname, _, filenames in os.walk('/kaggle/input_not_found'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
import os

# Rekursiv nach allen .py-Dateien suchen
py_dateien = []
for root,dirs,files in os.walk('/pfad/zum/verzeichnis'):
    for file in files:
        if file.endswith('.py'):
            py_dateien.append(os.path.join(root, file))

print(py_dateien)

In [2]:
import pandas as pd

reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
#pd.set_option("display.max_rows", 5)

from learntools.core import binder; binder.bind(globals())
# from https://stackoverflow.com/questions/14463277/how-to-disable-python-warnings
suppressed_errmsg='''
/usr/local/lib/python3.11/dist-packages/learntools/pandas/grouping_and_sorting.py:29: 
FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. 
In a future version of pandas, the provided callable will be used directly. 
To keep current behavior pass the string "max" instead.
'''
import warnings
with warnings.catch_warnings():
    # warnings.filterwarnings("ignore", category=FutureWarning)
    warnings.filterwarnings("ignore", message='is currently using SeriesGroupBy')

    from learntools.pandas.grouping_and_sorting import *
print("Setup complete.")

WARNING:root:Ignoring repeated attempt to bind to globals

Setup complete.

In [4]:
# Display Multiple Outputs in Jupyter Notebook Cells
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Exercises

## 1.
Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [6]:
print("type(reviews.groupby('points').price.min()) ist", type(reviews.groupby('points').price.min()))

type(reviews.groupby('points').price.min()) ist <class 'pandas.core.series.Series'>

In [3]:
print(type(reviews.info()))
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 13.9+ MB
<class 'NoneType'>
<class 'pandas.core.frame.DataFrame'>
Index: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 13.9+ MB

### Diese Methode liefert das gleiche sortierte Ergebnis wie die groupby().size().sort_values(ascending=False)-Kombination.

In [ ]:
reviews.groupby('taster_twitter_handle').size().sort_values(ascending=False)

In [ ]:
reviews['taster_twitter_handle'].value_counts()

In [ ]:
# my try reviews.groupby('taster_twitter_handle').count()
# Solution: 

# reviews_written = 
print("reviews.groupby('taster_twitter_handle').size() \n", reviews.groupby('taster_twitter_handle').size())
# reviews_written = 
reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()

In [ ]:
# Your code here
reviews_written = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()

# Check your answer
q1.check()

In [ ]:
q1.hint()
q1.solution()

## 2.
What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [ ]:
reviews.groupby(['price']).apply(lambda df: df.loc[df.points.idxmax()])

In [ ]:
reviews.groupby('price').apply(lambda df: df.title.iloc[0])

/tmp/ipykernel_37/649646049.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  reviews.groupby(['price']).apply(lambda df: df.loc[df.points.idxmax()])

In [ ]:
# see https://stackoverflow.com/questions/77969964/deprecation-warning-with-groupby-apply
reviews.groupby('price').apply(lambda df: df.title.iloc[0], include_groups = False)

In [7]:
# see https://stackoverflow.com/questions/77969964/deprecation-warning-with-groupby-apply Solution#2
reviews.groupby('price')[['price','title']].apply(lambda df: df.title.iloc[0])

price
4.0       Felix Solis 2013 Flirty Bird Syrah (Vino de la...
5.0       Herdade dos Machados 2009 Morgado da Canita Re...
6.0       Adega Cooperativa de Borba 2016 Brado Branco W...
7.0                   Cramele Recas 2009 Chardonnay (Recas)
8.0       Casca Wines 2015 Bote Chardonnay-Fernão Pires-...
                                ...
1900.0                        Château Margaux 2009  Margaux
2000.0                         Château Pétrus 2011  Pomerol
2013.0    Blair 2013 Roger Rose Vineyard Chardonnay (Arr...
2500.0                         Château Pétrus 2014  Pomerol
3300.0                 Château les Ormes Sorbet 2013  Médoc
Length: 390, dtype: object

In [ ]:
import warnings

warnings.filterwarnings("ignore", category=DeprecationWarning)

In [8]:
# reviews.groupby(['price']).apply(lambda df: df.loc[df.points.idxmax()])
# best_rating_per_price = 
reviews.groupby('price')['points'].max().sort_index()

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [ ]:
best_rating_per_price = reviews.groupby('price')['points'].max().sort_index()

# Check your answer
q2.check()

In [ ]:
q2.hint()
q2.solution()

## 3.
What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

/tmp/ipykernel_37/1826950803.py:1: FutureWarning: <br>The provided callable <built-in function min> is currently using SeriesGroupBy.min. <br>In a future version of pandas, the provided callable will be used directly. <br>To keep current behavior pass the string "min" instead.
  reviews.groupby(['variety']).price.agg([len, min, 'max'])

In [ ]:
reviews.groupby(['variety']).price.agg([len, 'min', 'max'])

In [ ]:
# From https://stackoverflow.com/questions/12589481/multiple-aggregations-of-the-same-column-using-pandas-groupby-agg
# df.groupby('kind').agg(
#     max_height=('height', 'max'), min_weight=('weight', 'min'),)

reviews.groupby('variety').agg(
    Min_price=('price','min'), Max_price =('price', 'max')
)
reviews.groupby('variety').agg(
    Min_price =pd.NamedAgg(column='price', aggfunc='min'),
    Max_price =pd.NamedAgg(column='price', aggfunc='max')
)

In [9]:
# dito from https://stackoverflow.com/questions/12589481/multiple-aggregations-of-the-same-column-using-pandas-groupby-agg
# df.groupby('dummy').agg(Mean=('returns', 'mean'), Sum=('returns', 'sum'))
reviews.groupby(['variety']).agg(Mean =('price', 'min'), Max=('price', 'max'))

             Mean    Max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

In [ ]:
price_extremes = reviews.groupby(['variety']).price.agg(['min', 'max'])

# Check your answer
q3.check()

In [ ]:
#q3.hint()
q3.solution()

## 4.
What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [ ]:
# quote from tut
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

In [ ]:
price_extremes.head()

What are the minimum and maximum prices for each variety of wine?   
Create a DataFrame whose index is the variety category from the dataset and whose values are the min and max values thereof.

In [ ]:
price_extremes.sort_values(by=['min','max'])

## sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending=False)

In [ ]:
sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending=False)

# Check your answer
q4.check()

In [ ]:
q4.hint()
q4.solution()

## 5.
Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [17]:
# reviews.groupby(['taster_name']).agg(Mean=('points', 'mean'))
print('a: Type ', type(reviews.groupby(['taster_name']).agg(Mean=('points', 'mean'))))
reviews.groupby(['taster_name']).agg(Mean=('points', 'mean')).info()
# -a ist aber ein dataframe, richtig laut laut solution 'Create a Series whose index is reviewers..'
reviews.groupby(['taster_name']).points.mean()
print('b: Type ', type(reviews.groupby(['taster_name']).points.mean()))
# reviews.groupby(['variety']).agg(Min =('price', 'min'), Max=('price', 'max'))

a: Type  <class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, Alexander Peartree to Virginie Boone
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mean    19 non-null     float64
dtypes: float64(1)
memory usage: 304.0+ bytes

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

b: Type  <class 'pandas.core.series.Series'>

In [18]:
reviews.groupby(['taster_name']).points.agg(['mean', 'min', 'max'])
type(reviews.groupby(['taster_name']).points.agg(['mean', 'min', 'max']))

                         mean  min  max
taster_name
Alexander Peartree  85.855422   80   91
Anna Lee C. Iijima  88.415629   80   98
Anne Krebiehl MW    90.562551   80   97
Carrie Dykes        86.395683   81   92
Christina Pickard   87.833333   82   93
Fiona Adams         86.888889   82   91
Jeff Jenssen        88.319756   82   97
Jim Gordon          88.626287   80   97
Joe Czerwinski      88.536235   80  100
Kerin O’Keefe       88.867947   80  100
Lauren Buzzeo       87.739510   81   95
Matt Kettmann       90.008686   81   97
Michael Schachner   86.907493   80   98
Mike DeSimone       89.101167   82   94
Paul Gregutt        89.082564   80  100
Roger Voss          88.708003   80  100
Sean P. Sullivan    88.755739   80   97
Susan Kostrzewa     86.609217   80   94
Virginie Boone      89.213379   80   99

pandas.core.frame.DataFrame

In [ ]:
# reviewer_mean_ratings = reviews.groupby(['taster_name']).points.agg(['mean'])
reviewer_mean_ratings = reviews.groupby(['taster_name']).points.mean()
# Check your answer
q5.check()

In [11]:
q5.hint()
q5.solution()

Hint: Use `mean()`.

Solution:
```python
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean()
```

Are there significant differences in the average scores assigned by the various reviewers? Run the cell below to use the `describe()` method to see a summary of the range of values.

In [ ]:
reviewer_mean_ratings.describe()

## 6.
What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [30]:

# type(hfchk) ist pandas.core.series.Series
# hfchk.columns=['country','variety', 'size']
# hfchk.name='size'
hfchk= reviews.groupby(['country', 'variety']).size().sort_values(ascending=False)
hfchk.index.names
hfchk.info()
hfchk

FrozenList(['country', 'variety'])

<class 'pandas.core.series.Series'>
MultiIndex: 1612 entries, ('US', 'Pinot Noir') to ('Uruguay', 'White Blend')
Series name: None
Non-Null Count  Dtype
--------------  -----
1612 non-null   int64
dtypes: int64(1)
memory usage: 23.3+ KB

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
                                     ...
Mexico   Cinsault                       1
         Grenache                       1
         Merlot                         1
         Rosado                         1
Uruguay  White Blend                    1
Length: 1612, dtype: int64

Ja, das sind sehr gute Fragen zu den Feinheiten von Pandas Series mit MultiIndex.   
Hier sind die Antworten auf Ihre Fragen:
**a) Was bedeutet die Ausgabe "FrozenList(['country', 'variety'])"? Ist eine FrozenList unveränderbar?**
Die Ausgabe FrozenList(['country', 'variety']) ist eine spezielle Datenstruktur in Pandas, die für die Verwaltung von Indexnamen verwendet wird.

    Bedeutung: Sie zeigt an, dass Ihr MultiIndex aus zwei Ebenen besteht, die die Namen 'country' und 'variety' tragen.
    Unveränderbarkeit: Ja, eine FrozenList ist unveränderbar (immutable). Das bedeutet, Sie können die Liste der Namen nicht einfach durch Zuweisung zu einem einzelnen Element ändern (z.B. hfchk.index.names[0] = 'land' würde einen Fehler geben).
        Pandas verwendet dies, um sicherzustellen, dass der Index stabil bleibt und effizient funktioniert.
        Um die Namen zu ändern, müssen Sie die gesamte Liste neu zuweisen oder spezielle Methoden verwenden, die eine neue, geänderte Liste zurückgeben, wie z.B. hfchk.index.set_names(['new_country', 'new_variety'], inplace=True).

b) Wenn ich diese Series ausgebe, bekommt zwar die Multi-Index-Spalten einen columnname/title, aber die erzeugte Aggregat-Spalte, hier mit dem .size()-Wert, bekommt keinen Titel. Kann ich diesen Spaltentitle setzen?
Ja, das ist das typische Verhalten einer Pandas Series, die durch Aggregation erzeugt wird. Die Spalte mit den Werten (hier die Anzahl aus .size()) hat standardmäßig keinen Namen (Series name: None).
Sie können diesen Namen (den "Spaltentitel") ganz einfach setzen, indem Sie das .name-Attribut der Series direkt zuweisen:
```python

# Ihr ursprünglicher Code
hfchk = reviews.groupby(['country', 'variety']).size().sort_values(ascending=False)

# Hier setzen Sie den Namen für die Wertespalte
# zum Beispiel "Anzahl_Reviews" oder "Count"
hfchk.name = "Anzahl_Reviews"

print(hfchk.name)
hfchk.info()
hfchk
```
Verwende Code mit Vorsicht.
Ausgabe nach der Änderung:

In [ ]:
Anzahl_Reviews
<class 'pandas.core.series.Series'>
MultiIndex: 1612 entries, ('US', 'Pinot Noir') to ('Uruguay', 'White Blend')
Series name: Anzahl_Reviews  # <-- Hier hat sich der Name geändert
Non-Null Count  Dtype
--------------  -----
1612 non-null   int64
dtypes: int64(1)
memory usage: 23.3+ KB
country  variety                 
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
                                     ... 
Mexico   Cinsault                       1
         Grenache                       1
         Merlot                         1
         Rosado                         1
Uruguay  White Blend                    1
Length: 1612, Name: Anzahl_Reviews, dtype: int64 # <-- Der Name erscheint nun auch in der Ausgabe

### Alternative: Benannte Aggregation
Eine elegantere Möglichkeit, den Namen direkt bei der Erstellung zu setzen, ist die Verwendung der .agg()-Funktion mit benannten Aggregationen, obwohl .size() oft einfacher ist.   
Wenn Sie .size() beibehalten, ist die Zuweisung zu .name der beste Weg.

Danke, ist hilfreich. Kannst du mir die Alternative:   
[Zitat] 
[/Zitat]  
kurz zeigen und eine Series mit Namen 'hfchk_2' erzeigen analog zu meiner Series 'hfchk' und dabei die .agg() -Variante verwenden?

Gerne, hier ist die Alternative mit der 'agg()'-Funktion.
Diese Methode ist etwas anders als '.size()', da .size() alle Datenpunkte zählt, während man mit agg() spezifisch eine Spalte auswählen und auf diese eine Aggregationsfunktion anwenden muss.  
**Benannte Aggregation mit .agg()**  
Um die benannte Aggregation zu verwenden, müssen Sie folgende Schritte beachten:

    Wählen Sie eine Spalte aus Ihrem ursprünglichen reviews-DataFrame aus (z.B. 'variety' oder 'description'), auf die Sie die Zählung anwenden möchten.
    Verwenden Sie die .agg()-Methode auf der gruppierten Struktur.
    Übergeben Sie ein Dictionary, bei dem der Schlüssel der gewünschte neue Spaltenname ist ('Anzahl_Reviews_Agg'), und der Wert die Funktion, die Sie anwenden möchten (z.B. 'size' oder 'count').

Beispielcode:

In [35]:
# Annahme: 'reviews' ist Ihr ursprünglicher DataFrame und hat eine Spalte 'variety'

hfchk_2 = reviews.groupby(['country', 'variety']).agg(
    Anzahl_Reviews_Agg=('variety', 'size')
).sort_values(by='Anzahl_Reviews_Agg', ascending=False)
# Hinweis: Das Ergebnis von agg() ist hier direkt ein DataFrame, keine Series.

# Wenn Sie explizit eine Series wollen, können Sie die neue Spalte auswählen
hfchk_2_series = hfchk_2['Anzahl_Reviews_Agg']
hfchk_2_series
hfchk_2_series.info()

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
                                     ...
Mexico   Cinsault                       1
         Grenache                       1
         Merlot                         1
         Rosado                         1
Uruguay  White Blend                    1
Name: Anzahl_Reviews_Agg, Length: 1612, dtype: int64

<class 'pandas.core.series.Series'>
MultiIndex: 1612 entries, ('US', 'Pinot Noir') to ('Uruguay', 'White Blend')
Series name: Anzahl_Reviews_Agg
Non-Null Count  Dtype
--------------  -----
1612 non-null   int64
dtypes: int64(1)
memory usage: 24.3+ KB

Zusammenfassend lässt sich sagen:   
Die agg()-Variante ist nützlich, wenn Sie mehrere verschiedene Aggregationen gleichzeitig auf verschiedene Spalten anwenden und diesen benannte Spalten zuweisen möchten.   
Für die einfache Zählung, wie in Ihrem ursprünglichen Beispiel, ist das manuelle Setzen von .name nach der .size()-Operation oft der direktere Weg.

In [ ]:
country_variety_counts = reviews.groupby(['country', 'variety']).size().sort_values(ascending=False)

# Check your answer
q6.check()

In [ ]:

q6.hint()
#q6.solution()

### Exkurs Beispiel 1: Nach zwei Spalten gruppieren und Durchschnitt ermitteln
ource: https://statologie.de/gruppieren-aggregieren-spalten-pandas/

In [20]:
#Dataframe erstellen
df = pd.DataFrame({'team': ['A', 'B', 'B', 'B', 'B', 'M', 'M', 'M'],
                   'position': ['G', 'G', 'F', 'G', 'F', 'F', 'C', 'C'],
                   'assists': [5, 7, 7, 8, 5, 7, 6, 9],
                   'rebounds': [11, 8, 10, 6, 6, 9, 6, 10]})

#Dataframe anzeigen
print(df)

  team position  assists  rebounds
0    A        G        5        11
1    B        G        7         8
2    B        F        7        10
3    B        G        8         6
4    B        F        5         6
5    M        F        7         9
6    M        C        6         6
7    M        C        9        10

In [21]:
df.groupby(['team', 'position']).agg({'assists': ['mean']})
df.groupby(['team', 'position']).agg({'assists': ['mean']}).reset_index()

              assists
                 mean
team position
A    G            5.0
B    F            6.0
     G            7.5
M    C            7.5
     F            7.0

  team position assists
                   mean
0    A        G     5.0
1    B        F     6.0
2    B        G     7.5
3    M        C     7.5
4    M        F     7.0

In [22]:
#Gruppe nach Team und Position und finde gemeine Assists
new = df.groupby(['team', 'position']).agg({'assists': ['mean']}).reset_index()

#Spalten umbenennen
new.columns = ['team', 'pos', 'mean_assists']

#Dataframe anzeigen
print(new)

  team pos  mean_assists
0    A   G           5.0
1    B   F           6.0
2    B   G           7.5
3    M   C           7.5
4    M   F           7.0

# Keep going

Move on to the [**data types and missing data**](https://www.kaggle.com/residentmario/data-types-and-missing-values).

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/pandas/discussion) to chat with other learners.*