**This notebook is an exercise in the [Pandas](https://www.kaggle.com/learn/pandas) course.  You can reference the tutorial at [this link](https://www.kaggle.com/residentmario/data-types-and-missing-values).**

---

# Introduction

Run the following cell to load your data and some utility functions.

In [1]:
import pandas as pd

reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)

from learntools.core import binder; binder.bind(globals())
from learntools.pandas.data_types_and_missing_data import *
print("Setup complete.")

Setup complete.

In [41]:
reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)

# Exercises

## 1. 
What is the data type of the `points` column in the dataset?

In [ ]:
# /kaggle/input/wine-reviews/winemag-data-130k-v2.csv
reviews.info()

In [ ]:
# Your code here
# What is the data type of the points column in the dataset?
dtype = reviews['points'].dtype

# Check your answer
q1.check()

In [ ]:
#q1.hint()
#q1.solution()

## 2. 
Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [ ]:
point_strings = reviews['points'].astype('str')

# Check your answer
q2.check()

In [ ]:
#q2.hint()
#q2.solution()

## 3.
Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [ ]:
# Sometimes the price column is null. How many reviews in the dataset are missing a price?
print("reviews['price'].isna().sum(): ", reviews['price'].isna().sum(),
      "reviews['price'].count() ", reviews['price'].count())

In [ ]:
n_missing_prices = reviews['price'].isna().sum()
print('no mising prices: ' ,n_missing_prices)
# Check your answer
q3.check()

In [2]:
# Spielcopy anlegen mit den ersten 40 rows
reviews40=reviews.head(40).copy()
print('reviews40.shape:', reviews40.shape)
reviews40.info()

reviews40.shape: (40, 13)
<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 0 to 39
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                40 non-null     object
 1   description            40 non-null     object
 2   designation            30 non-null     object
 3   points                 40 non-null     int64
 4   price                  35 non-null     float64
 5   province               40 non-null     object
 6   region_1               36 non-null     object
 7   region_2               12 non-null     object
 8   taster_name            33 non-null     object
 9   taster_twitter_handle  28 non-null     object
 10  title                  40 non-null     object
 11  variety                40 non-null     object
 12  winery                 40 non-null     object
dtypes: float64(1), int64(1), object(11)
memory usage: 4.4+ KB

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### a) Überprüfen Sie, ob alle Elemente in einer Zeile und Spalte Werte fehlen
From: https://pythonseminar.de/pandas-fehlende-werte-nan-erkennen-und-zahlen-mit-isnull-isna/
all() gibt True zurück, wenn alle Elemente in jeder Zeile und Spalte True sind.

Indem Sie all() aus dem Ergebnis von isnull() aufrufen, können Sie prüfen, ob alle Elemente in jeder Zeile und Spalte Werte fehlen.

Standardmäßig wird es auf Spalten angewendet. Wenn das Argument Achse = 1 ist, WIRD es auf Zeilen angewendet.  

### b) Überprüfen Sie, ob eine Zeile und Spalte mindestens einen fehlenden Wert enthält
any() gibt True zurück, wenn es in jeder Zeile und Spalte mindestens ein True gibt.

Indem SIE any() aus dem Ergebnis von isnull() aufrufen, can SIE überprüfen, ob jede Zeile und Spalte mindestens einen fehlenden Wert enthält.

Standardmäßig wird es auf Spalten angewendet. Wenn das Argument Achse = 1 ist, WIRD es auf Zeilen angewendet.
### c) Zählen Sie fehlende Werte in jeder Zeile und Spalte
sum() berechnet die Summe der Elemente für jede Zeile und Spalte.

Sie können fehlende Werte standardmäßig in jeder Spalte und in jeder Zeile mit Achse=1 umfassen.

### d) Zählen Sie nicht fehlende Werte in jeder Zeile und Spalte
count() zählt die Anzahl der nicht fehlenden Werte (= vorhandene Werte) in jeder Zeile und Spalte.

Rufen Sie es direkt aus dem ursprünglichen pandas.DataFrame auf, nicht aus dem Ergebnis von isnull().

Sie können standardmäßig keine fehlenden Werte in jeder Spalte und in jeder Zeile mit Achse=1 umfassen

In [10]:
# print(reviews40.isnull().all())
print('a) Anzahl von überall NULL: ', reviews40.isnull().all().sum())
print('b) mind 1 fehlender Wert \n', reviews40.isnull().any(), sep='')
print('c) Fehlende Werte\n', reviews40.isnull().sum(), '\nGesamt :',reviews40.isnull().sum().sum() ,
      ' von ', reviews40.size , sep='')

a) Anzahl von überall NULL:  0
b) mind 1 fehlender Wert
country                  False
description              False
designation               True
points                   False
price                     True
province                 False
region_1                  True
region_2                  True
taster_name               True
taster_twitter_handle     True
title                    False
variety                  False
winery                   False
dtype: bool
c) Fehlende Werte
country                   0
description               0
designation              10
points                    0
price                     5
province                  0
region_1                  4
region_2                 28
taster_name               7
taster_twitter_handle    12
title                     0
variety                   0
winery                    0
dtype: int64
Gesamt :66 von 520

### Zählen Sie nicht fehlende Werte in jeder Zeile und Spalte
count() zählt die Anzahl der nicht fehlenden Werte (= vorhandene Werte) in jeder Zeile und Spalte.

Rufen Sie es direkt aus dem ursprünglichen pandas.DataFrame auf, nicht aus dem Ergebnis von isnull().

Sie können standardmäßig keine fehlenden Werte in jeder Spalte und in jeder Zeile mit Axis=1 umfassen.  
 https://pythonseminar.de/pandas-fehlende-werte-nan-erkennen-und-zahlen-mit-isnull-isna/

**Im gesamten DataFrame:** Verwenden Sie df.isnull().sum().sum() oder df.isna().sum().sum().  (Google-KI)

In [7]:
null_werte_pro_spalte[null_werte_pro_spalte > 0].index.tolist()
reviews40.size

['designation',
 'price',
 'region_1',
 'region_2',
 'taster_name',
 'taster_twitter_handle']

520

In [6]:
# Beispiel: Anzahl der fehlenden Werte pro Spalte
null_werte_pro_spalte = reviews40.isnull().sum()
print('null_werte_pro_spalte: \n', null_werte_pro_spalte, sep='')

# 2. Filtern der Series, sodass nur Werte > 0 angezeigt werden
spalten_mit_nulls = null_werte_pro_spalte[null_werte_pro_spalte > 0]

print("Spalten mit mindestens einem NULL-Wert:")
print(spalten_mit_nulls)

# Alternativer Ansatz: Nur die Spaltennamen erhalten
spalten_namen_mit_nulls = null_werte_pro_spalte[null_werte_pro_spalte > 0].index.tolist()
print("\nListe der Spaltennamen mit NULL-Werten:")

print(spalten_namen_mit_nulls)



# Beispiel: Gesamtanzahl der fehlenden Werte
gesamt_null_werte = reviews40.isnull().sum().sum()
print('gesamt_null_werte ( Type', type(gesamt_null_werte),') ',  gesamt_null_werte)

reviews40.count()
vorhandene_Werte_gesamt = reviews40.count().sum()
vorhandene_Werte_Zeile =reviews40.count(axis=1)
vorhandene_Werte_Zeile
print('anzahl Spalten', len(reviews40.columns))
print('vorhandene_Werte_Zeile:\n', vorhandene_Werte_Zeile[vorhandene_Werte_Zeile!=len(reviews40.columns)])
print('Fehlende Werte gesamt: ', reviews40.isnull().values.sum(), ' Vorhandene: ', reviews40.count().sum())

null_werte_pro_spalte:
country                   0
description               0
designation              10
points                    0
price                     5
province                  0
region_1                  4
region_2                 28
taster_name               7
taster_twitter_handle    12
title                     0
variety                   0
winery                    0
dtype: int64
Spalten mit mindestens einem NULL-Wert:
designation              10
price                     5
region_1                  4
region_2                 28
taster_name               7
taster_twitter_handle    12
dtype: int64

Liste der Spaltennamen mit NULL-Werten:
['designation', 'price', 'region_1', 'region_2', 'taster_name', 'taster_twitter_handle']
gesamt_null_werte ( Type <class 'numpy.int64'> )  66
anzahl Spalten 13
vorhandene_Werte_Zeile:
 0     11
1     11
2     12
3     11
5     12
6     12
7     11
8     10
9     12
11    11
12    12
13    11
14    12
15    10
16    12
17    12
18    12
19    10
20    11
21    12
22    12
24    12
26    12
27    11
28    12
29    12
30    11
31     9
32     9
33    11
34    10
36    11
37    10
38    10
39    10
dtype: int64
Fehlende Werte gesamt:  66  Vorhandene:  454

In [9]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.fillna.html#pandas.Series.fillna
# values = {"A": 0, "B": 1, "C": 2, "D": 3}
# df.fillna(value=values)
reviews40.fillna(value={'region_2': 'Nothing'}, inplace =True)
reviews40.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 0 to 39
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                40 non-null     object
 1   description            40 non-null     object
 2   designation            30 non-null     object
 3   points                 40 non-null     int64
 4   price                  35 non-null     float64
 5   province               40 non-null     object
 6   region_1               36 non-null     object
 7   region_2               40 non-null     object
 8   taster_name            33 non-null     object
 9   taster_twitter_handle  28 non-null     object
 10  title                  40 non-null     object
 11  variety                40 non-null     object
 12  winery                 40 non-null     object
dtypes: float64(1), int64(1), object(11)
memory usage: 4.4+ KB

In [ ]:
#q3.hint()
#q3.solution()

## 4.
What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

In [40]:
reviews40.region_1.isna().sum() ## 2
# reviews.region_1.fillna('Unknown')
reviews40.region_2.isna().sum() ## 28
# reviews.region_2.fillna("Unknown", inplace = True)
reviews40_region_2=reviews40.region_2
print('Type reviews40_region_2', type(reviews40_region_2), reviews40_region_2.dtype)
print("reviews40_region_2.isna().sum()")
reviews40_region_2.isna().sum()
# this will cause err_msg reviews40_region_2.fillna("Unknown", inplace = True)
# Setting multiple items using a mask
mask = reviews40_region_2.isna()
reviews40_region_2[mask]
#reviews40_region_2[mask]='Nothing'
print("reviews40_region_2.isna().sum()")
reviews40_region_2.isna().sum()

err_msg='''
/tmp/ipykernel_37/3724868724.py:8: SettingWithCopyWarning: 
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews40_region_2.fillna("Unknown", inplace = True)
'''

reviews40.region_2.isna().sum() ## 20

reviews40.region_1.fillna('Unknown').value_counts().sort_values(ascending=False)

4

0

Type reviews40_region_2 <class 'pandas.core.series.Series'> object
reviews40_region_2.isna().sum()

0

Series([], Name: region_2, dtype: object)

reviews40_region_2.isna().sum()

0

0

region_1
Sicilia                  6
Unknown                  4
Alsace                   3
Etna                     2
Terre Siciliane          2
Virginia                 2
Willamette Valley        2
Paso Robles              1
Alexander Valley         1
Central Coast            1
Cafayate                 1
Mendoza                  1
Ribera del Duero         1
Navarra                  1
Oregon                   1
Lake Michigan Shore      1
Clarksburg               1
Sonoma Coast             1
Cerasuolo di Vittoria    1
Beaujolais-Villages      1
Dry Creek Valley         1
Sonoma Valley            1
McMinnville              1
Napa Valley              1
Vittoria                 1
Puglia                   1
Name: count, dtype: int64

In [ ]:
reviews.region_1.isna().sum() ## 21247
# reviews.region_1.fillna('Unknown')
reviews.region_2.isna().sum() ## 79460
# reviews.region_2.fillna("Unknown", inplace = True)
'''
/tmp/ipykernel_37/115383614.py:4: 
FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. 
This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', 
try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, 
to perform the operation inplace on the original object.
'''

reviews.region_2.isna().sum() ## 79460

reviews.region_1.fillna('Unknown').value_counts().sort_values(ascending=False)

In [ ]:
reviews.region_1.fillna('Unknown').value_counts()
# reviews.region_1.fillna('Unknown').groupby('region_1')

In [ ]:
# this does not work
# reviews.region_1.fillna('Unknown').groupby('region_1').size().sort_values(ascending=False)

In [ ]:
reviews_per_region = reviews.region_1.fillna('Unknown').value_counts()
# Correct laut Hint:
# reviews_per_region = reviews.region_1.fillna('Unknown').value_counts().sort_values(ascending=False)
# aber: value_counts() sortiert automatisch descending
# Check your answer
q4.check()

In [ ]:
q4.hint()

q4.solution()

### Exkurs SettingWithCopyWarnung Returning a View versus a copy
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Copy-on-Write will become the new default in pandas 3.0. This means that chained indexing will never work. As a consequence, the SettingWithCopyWarning won’t be necessary anymore. See this section for more context. We recommend turning Copy-on-Write on to leverage the improvements with

` pd.options.mode.copy_on_write = True `

even before pandas 3.0 is available.

When setting values in a pandas object, care must be taken to avoid what is called chained indexing. Here is an example.

In [15]:
dfmi = pd.DataFrame([list('abcd'),
                     list('efgh'),
                     list('ijkl'),
                     list('mnop')],
                    columns=pd.MultiIndex.from_product([['one', 'two'],
                                                        ['first', 'second']]))
dfmi

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

In [21]:
print(f"dfmi['one']['second'] =two separate events :\n{dfmi['one']['second']}")
print(f"dfmi.loc[:, ('one', 'second')]: one single call  \n{dfmi.loc[:, ('one', 'second')]}")

dfmi['one']['second'] =two separate events :
0    b
1    f
2    j
3    n
Name: second, dtype: object
dfmi.loc[:, ('one', 'second')]: one single call
0    b
1    f
2    j
3    n
Name: (one, second), dtype: object

These both yield the same results, so which should you use? It is instructive to understand the order of operations on these and why method 2 (.loc) is much preferred over method 1 (chained []).

dfmi['one'] selects the first level of the columns and returns a DataFrame that is singly-indexed. Then another Python operation dfmi_with_one['second'] selects the series indexed by 'second'. This is indicated by the variable dfmi_with_one because pandas sees these operations as separate events. e.g. separate calls to __getitem__, so it has to treat them as linear operations, they happen one after another.

Contrast this to df.loc[:,('one','second')] which passes a nested tuple of (slice(None),('one','second')) to a single call to __getitem__. This allows pandas to deal with this as a single entity. Furthermore this order of operations can be significantly faster, and allows one to index both axes if so desired.

But it turns out that assigning to the product of chained indexing has inherently unpredictable results. To see this, think about how the Python interpreter executes this code:
```python
dfmi.loc[:, ('one', 'second')] = value
# becomes
dfmi.loc.__setitem__((slice(None), ('one', 'second')), value)
```
But this code is handled differently:
```python
dfmi['one']['second'] = value
# becomes
dfmi.__getitem__('one').__setitem__('second', value)
```
See that __getitem__ in there? Outside of simple cases, it’s very hard to predict whether it will return a view or a copy (it depends on the memory layout of the array, about which pandas makes no guarantees), and therefore whether the __setitem__ will modify dfmi or a temporary object that gets thrown out immediately afterward. That’s what SettingWithCopy is warning you about!

When you use chained indexing, the order and type of the indexing operation partially determine whether the result is a slice into the original object, or a copy of the slice.

pandas has the SettingWithCopyWarning because assigning to a copy of a slice is frequently not intentional, but a mistake caused by chained indexing returning a copy where a slice was expected.

If you would like pandas to be more or less trusting about assignment to a chained indexing expression, you can set the option mode.chained_assignment to one of these values:

'warn', the default, means a SettingWithCopyWarning is printed.

'raise' means pandas will raise a SettingWithCopyError you have to deal with.

None will suppress the warnings entirely.

In [29]:
import numpy as np
dfb = pd.DataFrame({'a': ['one', 'one', 'two',
                          'three', 'two', 'one', 'six'],
                    'c': np.arange(7)})
dfb

       a  c
0    one  0
1    one  1
2    two  2
3  three  3
4    two  4
5    one  5
6    six  6

In [30]:
# This will show the SettingWithCopyWarning
# but the frame values will be set
dfb['c'][dfb['a'].str.startswith('o')] 
## dfb['c'][dfb['a'].str.startswith('o')] = 42

0    0
1    1
5    5
Name: c, dtype: int64

In [ ]:
with pd.option_context('mode.chained_assignment','warn'):
    dfb[dfb['a'].str.startswith('o')]['c'] = 42

In [37]:
# The following is the recommended access method using .loc for multiple items (using mask) 
# and a single item using a fixed index
# https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
dfc = pd.DataFrame({'a': ['one', 'one', 'two',
                          'three', 'two', 'one', 'six'],
                    'c': np.arange(7)})

print('dfc')
dfc
dfd = dfc.copy()
# Setting multiple items using a mask
mask = dfd['a'].str.startswith('o')

dfd.loc[mask, 'c'] = 42
print("dfd = dfc.copy() after dfd.loc[mask, 'c'] = 42")
dfd
print("dfc after dfd.loc[mask, 'c'] = 42 bleibt unverändert")
# dfc
dfe = dfc.copy()

dfe.loc[2, 'a'] = 11
print('dfe')
dfe
print('dfc bleibt unverändert')
# dfc

dfc

       a  c
0    one  0
1    one  1
2    two  2
3  three  3
4    two  4
5    one  5
6    six  6

dfd = dfc.copy() after dfd.loc[mask, 'c'] = 42

       a   c
0    one  42
1    one  42
2    two   2
3  three   3
4    two   4
5    one  42
6    six   6

dfc after dfd.loc[mask, 'c'] = 42 bleibt unverändert
dfe

       a  c
0    one  0
1    one  1
2     11  2
3  three  3
4    two  4
5    one  5
6    six  6

dfc bleibt unverändert

# Keep going

Move on to **[renaming and combining](https://www.kaggle.com/residentmario/renaming-and-combining)**.

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/pandas/discussion) to chat with other learners.*